<h3><strong>Happy Hour Hitcher</strong></h3>
</br>

<h4><strong>Events By Day</strong></h4>
*Click an Event to view available rides
</br></br>
<strong>Go To Day:</strong>
</br>
&nbsp;&nbsp;<a href ='#monday'>Monday</a>
</br>
&nbsp;&nbsp;<a href ='#tuesday'>Tuesday</a>
</br>
&nbsp;&nbsp;<a href ='#wednesday'>Wednesday</a>
</br>
&nbsp;&nbsp;<a href ='#thursday'>Thursday</a>
</br>
&nbsp;&nbsp;<a href ='#friday'>Friday</a>
</br>
&nbsp;&nbsp;<a href ='#saturday'>Saturday</a>
</br>
&nbsp;&nbsp;<a href ='#sunday'>Sunday</a>
</br></br>
<strong>Monday</strong>
<TABLE id = 'monday'>
<% @monday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR>
<% end %>
</TABLE> 
</br>

<strong>Tuesday</strong>
<TABLE id = 'tuesday'>
<% @tuesday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR>
<% end %>
</TABLE> 
</br>

<strong>Wednesday</strong>
<TABLE id = 'wednesday'>
<% @wednesday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR>
<% end %>
</TABLE> 
</br>

<strong>Thursday</strong>
<TABLE id = 'thursday'>
<% @thursday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR>
<% end %>
</TABLE> 
</br>

<strong>Friday</strong>
<TABLE id = 'friday'>
<% @friday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR> 
<% end %>
</TABLE> 
</br>

<strong>Saturday</strong>
<TABLE id = 'saturday'>
<% @saturday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR> 
<% end %>
</TABLE> 
</br>

<strong>Sunday</strong>
<TABLE id = 'sunday'>
<% @sunday_events.each do |event| %>
  <TR><TD>&nbsp;&nbsp;<%=link_to event.name, event %> at <%=event.location.name %></TD>
<TD>
</TD></TR> 
<% end %>
</TABLE> 
</br>






