<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ride_passenger.user_id %>
</p>

<p>
  <strong>Ride:</strong>
  <%= @ride_passenger.ride_id %>
</p>

<%= link_to 'Edit', edit_ride_passenger_path(@ride_passenger) %> |
<%= link_to 'Back', ride_passengers_path %>
